body {
				background: linear-gradient(#143E7E,#E43F37);
				background-repeat: no-repeat;
				background-size: cover;
				font-family: Verdana;
			}

			.container {
				width: 1200px;
				background-color: #fff;
				height: 1400px;
				margin-right: auto;
				margin-left: auto;
			}
			div.content {
				width: 1170px;
				height: 1200px;
				}
			.content {
				width: 1190px;
				padding: 20px;
			}

			p {	
				line-height: 1.5em;
				font-size: 14pt;
			}
			
			img {
				float: left;
				margin-right: 20px;
				margin-bottom: 15px;
				margin-top: 0px;
				margin-left: 0px;
			}
			img.bar {
				float: left;
				margin-left: 40px;
			}
			img.c {
				float: left;
				box-shadow: -10px 10px 5px black;
				margin-right: 20px;
				margin-bottom: 5px;
				margin-top: 0px;
				margin-left: 0px;
			}
			
			ul {
				background-color: #60439c;
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				overflow: hidden;
				}
			li {
				float: left;
				width: 175px;
				color: white;
				display: block;
				padding: 10px 16px;
				text-decoration: none;
				text-align: center; 

				}
				
			li.home a {
				color: white;
				display: block;
				padding: 14px 16px;
				text-decoration: none;
				text-align: center; 
				margin-top: auto;
				margin-bottom: auto;
			}
			
			li.other a {
				color: white;
				display: block;
				padding: 14px 16px;
				text-decoration: none;
				text-align: center; 
				margin-top: auto;
				margin-bottom: auto;
			}
			
			li a:hover:not(.current) {
				background-color: #008080;
				}
			.current {
				background-color: #4CAF50;
			}
			iframe {
				box-shadow: -12px 12px 7px black;
			}
			table, th, td {
			border-bottom: 1px solid #DDDDDD;
			text-align: center;
		}
		table {
		border-collapse: collapse;
		width:           400px;
		box-shadow: -12px 12px 7px black;
		}
		
		tr:nth-child(even) {
			background-color: #EA5738;
			}
		tr:nth-child(odd) {
			background-color: #388EEA;
			}
		tr:hover {
			background-color: #9E14DE;
			color: white;
			}
		th, td {
			padding: 10px;
		}
		
		th {
			background-color: #DE7F14;
			color:            white;
			
			}
		a:hover {
		color: red;
			}